@import '../../styles/colors.scss';
@import '../../styles/values.scss';
.calendarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $bottomNavHeight;

    .calendarHeader {
        height: $calendarHeaderHeight;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .calendarDate {
            font-weight: 300;
        }
        .calendarActions {
            width: 60vw;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            margin-top: .5rem;

            >button {
                padding: .25rem .5rem;
                transition: all 500ms ease;
            }

            .todayBtn {
                margin-right: auto;
                background: $vivid-tangerine;
                border: none;
                outline: none;
                border-radius: 2rem;
                color: $white;
                font-weight: 800;
                font-size: 1rem;

                &:hover,
                &:focus-visible {
                    background-color: darken($vivid-tangerine, 5);
                    box-shadow: 0 0 5px 2px darken($vivid-tangerine, 5);
                }
            }
            .lrBtn {
                border-radius: 50%;
                border: none;
                outline: none;
                width: 5ch;
                height: 5ch;
                background-color: $gray;
                color: $darkgray;
                display: grid;
                place-items: center;

                &:last-child {
                    margin-left: .5rem;
                }

                &:hover,
                &:focus-visible {
                    background-color: lighten($gray, 5);
                    box-shadow: 0 0 5px 2px darken($gray, 5);
                }
            }
        }
    }
    .calendarContent {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;

        .monthGrid {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .day {
                width: percentage(1/7);
                height: 100px;

                font-weight: 600;
                padding: 5px;

                border-top: 2px solid gray;
                border-left: 2px solid gray;
                &:nth-child(29),
                &:nth-child(30),
                &:nth-child(31),
                &:nth-child(32),
                &:nth-child(33),
                &:nth-child(34),
                &:nth-child(35) {
                    border-bottom: 2px solid gray;
                }
                &:nth-child(7),
                &:nth-child(14),
                &:nth-child(21),
                &:nth-child(28),
                &:nth-child(35) {
                    border-right: 2px solid gray;
                }

                p {
                    width: 3ch;
                    height: 3ch;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    transition: box-shadow 750ms ease, color 750ms ease;
                    color: #000;
                    &.today {
                        box-shadow: 
                            inset 3ch 3ch $vivid-tangerine,
                            0 0 5px 2px $vivid-tangerine;
                        width: 3ch;
                        height: 3ch;
                        
                        padding: 5px;
                        animation: todayExpand 750ms forwards;
                    }
                    &.focussedDay {
                        box-shadow: 
                            inset 3ch 3ch $brown,
                            0 0 5px 2px $brown;
                        color: $white;
                    }
                }
            }
        }
    }
}

@keyframes todayExpand {
    from {
        box-shadow: inset 0ch 0ch $vivid-tangerine,
                    0 0 0px 0px $vivid-tangerine;
    }
    to {
        box-shadow: inset 3ch 3ch $vivid-tangerine,
                    0 0 5px 2px $vivid-tangerine;
    }
}