@import '../../styles/colors.scss';
@keyframes buttonScale {
    from {
        transform: translateY(0px);
    }
    to {
        transform: scale(110%);
    }
}

.bottomNav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: $bottomNavHeight;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: lighten($navcolor, 4);
    border-radius: 1rem 1rem 0 0;
    
    .bnTab {
        cursor: pointer;
        text-align: center;
        span {
            font-size: 1.9rem;
            padding: .45em;
            aspect-ratio: 1;
            color: $vivid-tangerine;
        }
        &.active {
            border-radius: 50%;
            width: auto;
            background: $vivid-tangerine;
            span {
                color: $white;
            }
            transform: scale(110%);

            animation: buttonScale 0.3s;
        }
        &:hover, &:focus-visible {
            &:not(.active) {
                span {
                    transition: all 500ms ease-in-out;
                    color: darken($vivid-tangerine, 12);
                }
            }
        }
    }
}